
<div class="thumbnail">
  <div class="caption">
    <h1><%= t('article.new.title') %></h1>
    <%= simple_form_for @article do |f|%>
        <%= f.input :title %>
        <%= f.input :text, as: :text %>
        <%= f.text_area :text %>
        <%= f.button :submit, t('actions.save') %>
    <% end%>
  </div>
</div>

